design/backend/css/twitterbootstrap.css
users/*
images/thumbnails/
app/vendor/*
var/*
stores/*
!var/themes_repository*
!var/database*
!var/.htaccess
!var/index.php

_TEMP
local_conf.php
sph.php
TODO

_tools/selenium_WebDriver/tests/share/config/sessions.local.php
_tools/selenium_WebDriver/tests/share/storage/local.php
_tools/selenium_WebDriver/tests/share/storage/screens/*.png

*.bak
*.DS_Store*
*.sublime*
*.sw*
*~
.buildpath
.idea
.project
nbproject